[user]
  email = nuno21nt@gmail.com
  name = Nuno Santos
[color]
  ui = auto
[alias]
  editconfig = config --global -e
  listaliases = "!git config -l | grep alias | cut -c 7-"
  #
  aa = add -A
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  br = branch
  cm = commit -m
  co = checkout
  cob = checkout -b
  dc = diff --cached
  fix = commit --fixup
  fixed = rebase -i --autosquash
  fixlast = "!f() { git fix HEAD; }; f"
  fixedlast = "!f() { git fixed HEAD^^; }; f"
  ls = log --pretty=format:"%C(yellow)%h\\ %Cred%d\\ %Creset%s\\ %C(dim\\ blue)[%cn]\\ %C(green)(%ad)" --decorate --date=relative
  lsa = "!f() { git ls --all; }; f"
  lsd = "!f() { git ls --numstat; }; f"
  lsda = "!f() { git ls --numstat --all; }; f"
  save = !git add -A && git commit -m 'SAVEPOINT'
  st = status
  undo = reset HEAD~1 --mixed
  up = pull --rebase --prune
  wip = commit -am "WIP"
[rerere]
  enabled = true
[rebase]
  autosquash = true
